

@import url('https://fonts.googleapis.com/css?family=Slabo+27px');


html {
    font-size:18px;
}
html {
    font-size: 20px;}
h1 { font-size: 2.25rem;}
h2 { font-size: 1rem; font-style: unbold}
h3 {font-size: 1.125rem;}
h4 {font-size:1.05rem; font-style:italic;}

body {
    font-family: 'Slabo 27px', serif;
}

.indexUL {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #4799b7;
}
  li {
                float: left;
            }

            li a {
                display: block;
                color: white;
                text-align: center;
                padding: 14px 40px;
                text-decoration: none;
            }

            li a:hover {
                background-color: #6db3bf;
            }

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}


.container {
    position: relative;
    text-align: center;
    color: lightcyan;
    font-size: 30px;


}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/** {box-sizing: border-box}*/
body {
    margin: 20px;
}


.wrapper {
    display: grid;
    grid-template-columns: 400px 830px;
    grid-template-rows: auto auto auto auto;
    grid-gap: 10px;
    background-color: white;
    color: #153641 ;
}

.resume-section {
    background-color:  #94cfc9;
    color: navy;
    border-radius: 5px;
    padding: 20px;
    font-size: 75%;
}

.footer {
    background-color:  #94cfc9;
    color: navy;
    border-radius: 5px;
    padding: 20px;
    font-size: 100%;
    grid-column: 1 / 3;
    text-align: center;
}

.school {
    font-size: 12px;
}

.credits {
    font-size: 8px;
}
